body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(82, 97, 226);
    background-color: rgb(245, 238, 243);
    }
    
    h1{
        font-size: x-large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        color: rgb(101, 43, 237);
    }

    @keyframes deneme {
        0%{
            color:aquamarine;
        }
        50%{
            color:brown;
        }
        100%{
            color:pink;
        }
    }

    h3{
        animation: deneme 3s infinite ;

    }

    ul:hover {
        animation: deneme 3s infinite ;
    }